

body, html {
    height: 100%;
  }
  .background {
    background-image: url("./Images/music_background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.card {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: #2D5D74;

  }
container-fluid {
  
}


h2 {
    size: 8px;
    color: black
    
}

table {
  font-weight: bold; 
}

th {
  font-size: larger;
}

 {
  
}

